html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5,
h6, p, blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, tt, var, b, u, i, center, dl, dt,
dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, menu, nav,
output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

body, html {
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  line-height: 1;
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -ms-touch-action: none;
  touch-action: none;
  speak: none;
  font-family: 'Roboto', Arial, sans-serif;
  cursor: default !important;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img,
fieldset,
a img {
  border: none;
}

img {
  max-width: 100%;
  width: 100%;
  /*  height: auto;
  vertical-align: middle;*/
}

svg {
  vertical-align: middle;
}

svg > path {
  transition: fill 0.5s ease;
}

a {
  color: #fff;
  text-decoration: none;
}

a:active, a:hover {
  outline: 0;
  text-decoration: none;
}

input[type="submit"],
button {
  cursor: pointer;
}

input[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

textarea {
  font-family: 'Roboto', Arial, sans-serif;
  overflow: auto;
}

input, button, textarea {
  margin: 0;
  padding: 0;
  background: 0;
  border: 0;
}

input,
textarea {
  resize: none;
  user-select: text;
}

input {
  -webkit-appearance: button;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  background-color: #fff !important;
  color: #000 !important;
}

input, textarea, select, button,
h1, h2, h3, h4, h5, h6, a, span, a:focus {
  outline: none;
}

ul {
  list-style-type: none;
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

td, th {
  padding: 0;
  vertical-align: middle;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

label {
  cursor: pointer;
}

.uiw__world-coverage__countries::before, .uiw__world-coverage__users::before, .uiw__world-coverage__co-worker::before, .in-Ukraine__in-country-coverage__co-worker::before, .in-Ukraine__in-country-coverage__investments::before, .in-Ukraine__in-country-coverage__duration::before, .mission__section-description::before, .advantage__wrap::before {
  display: block;
  content: "";
  position: absolute;
}

.header-page__content__text__button, .advantage_button, .btn {
  padding: 12px 40px;
  background: linear-gradient(101.91deg, #BF0CE8 0%, #6A5DF5 100%);
  border: 1px solid #BC84EC;
  box-sizing: border-box;
  border-radius: 33px;
}

.header-page__content__text__button:hover, .advantage_button:hover, .btn:hover {
  background: linear-gradient(101.91deg, #BF0CE8 30%, #6A5DF5 100%);
}

.uiw__world-coverage__countries::before, .uiw__world-coverage__users::before, .uiw__world-coverage__co-worker::before, .in-Ukraine__in-country-coverage__co-worker::before, .in-Ukraine__in-country-coverage__investments::before, .in-Ukraine__in-country-coverage__duration::before {
  width: 120%;
  height: 120%;
  background-repeat: no-repeat;
  top: 15%;
  left: -40px;
  z-index: -1;
}

.uiw__world-coverage__countries__numbers, .uiw__world-coverage__users__numbers, .uiw__world-coverage__co-worker__numbers, .in-Ukraine__in-country-coverage__co-worker__numbers, .in-Ukraine__in-country-coverage__investments__numbers, .in-Ukraine__in-country-coverage__duration__numbers, .uiw__world-coverage__countries__numbers--sub-numbers, .uiw__world-coverage__users__numbers--sub-numbers, .uiw__world-coverage__co-worker__numbers--sub-numbers, .in-Ukraine__in-country-coverage__co-worker__numbers--sub-numbers, .in-Ukraine__in-country-coverage__investments__numbers--sub-numbers, .in-Ukraine__in-country-coverage__duration__numbers--sub-numbers, .uiw__section-name--title, .in-Ukraine__section-name--title, .mission__section--title, .target__section-description--title, .advantage__title, .capabilities__wrapper h2, .et__section-description h3, .contacts__description h2, .mission__section--sub-title, .target__section-description--sub-title, .header-page__content__text, .advantage__education--title h4, .advantage__healthy--title h4, .advantage__bonus--title h4, .advantage_button a, .capabilities__item header,
.capabilities__item footer, .btn, .links a, .footer nav a, .slick-prev:before, .slick-next:before, .resume-form, .resume-form input, .close-form {
  font-family: "UnileverDINOffcPro-Bold";
  font-weight: bold;
  font-style: normal;
}

.uiw__world-coverage__countries__text, .uiw__world-coverage__users__text, .uiw__world-coverage__co-worker__text, .in-Ukraine__in-country-coverage__co-worker__text, .in-Ukraine__in-country-coverage__investments__text, .in-Ukraine__in-country-coverage__duration__text, .uiw__section-name--description, .in-Ukraine__section-name--description, .mission__section--text, .target__section-description--text, .advantage__education--title p, .advantage__healthy--title p, .advantage__bonus--title p, .et__section-description p {
  font-family: "UnileverDINOffcPro";
  font-weight: normal;
  font-style: normal;
}

.uiw__world-coverage__countries__numbers, .uiw__world-coverage__users__numbers, .uiw__world-coverage__co-worker__numbers, .in-Ukraine__in-country-coverage__co-worker__numbers, .in-Ukraine__in-country-coverage__investments__numbers, .in-Ukraine__in-country-coverage__duration__numbers {
  font-size: 72px;
  color: #fff;
}

.uiw__world-coverage__countries__numbers--sub-numbers, .uiw__world-coverage__users__numbers--sub-numbers, .uiw__world-coverage__co-worker__numbers--sub-numbers, .in-Ukraine__in-country-coverage__co-worker__numbers--sub-numbers, .in-Ukraine__in-country-coverage__investments__numbers--sub-numbers, .in-Ukraine__in-country-coverage__duration__numbers--sub-numbers {
  font-size: 24px;
  margin-top: 5px;
  color: #000000;
  font-style: normal;
  font-weight: bold;
}

.uiw__world-coverage__countries__text, .uiw__world-coverage__users__text, .uiw__world-coverage__co-worker__text, .in-Ukraine__in-country-coverage__co-worker__text, .in-Ukraine__in-country-coverage__investments__text, .in-Ukraine__in-country-coverage__duration__text {
  margin-top: 30px;
  font-size: 18px;
  line-height: 1.2em;
}

.uiw__world-coverage__countries, .uiw__world-coverage__users, .uiw__world-coverage__co-worker, .in-Ukraine__in-country-coverage__co-worker, .in-Ukraine__in-country-coverage__investments, .in-Ukraine__in-country-coverage__duration {
  padding-top: 100px;
  width: 25%;
  position: relative;
}

.uiw__section-name--title, .in-Ukraine__section-name--title, .mission__section--title, .target__section-description--title, .advantage__title, .capabilities__wrapper h2, .et__section-description h3, .contacts__description h2 {
  font-size: 60px;
  color: #242424;
}

.mission__section--sub-title, .target__section-description--sub-title {
  font-size: 36px;
  color: #242424;
}

.uiw__section-name--description, .in-Ukraine__section-name--description, .mission__section--text, .target__section-description--text {
  margin: 0 auto;
  margin-top: 15px;
  color: black;
  width: 60%;
  line-height: 1.5em;
  font-size: 18px;
}

@font-face {
  font-family: "UnileverDINOffcPro";
  src: url("../font/UnileverDINOffcPro.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'UnileverDINOffcPro-Bold';
  src: url("../font/UnileverDINOffcPro-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: 'UnileverDINOffcPro-BoldIta';
  src: url("../font/UnileverDINOffcPro-BoldIta.ttf") format("truetype");
  font-style: italic;
  font-weight: bold;
}

@font-face {
  font-family: "UnileverDINOffcPro-Ita";
  src: url("../font/UnileverDINOffcPro-Ita.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
}

.container {
  max-width: 1080px;
  padding: 0 20px;
  margin: 0 auto;
  overflow: hidden;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

.ico1 {
  background-image: url("../img/brands/AXE.png");
}

.ico2 {
  background-image: url("../img/brands/barhatnye_ruchki.png");
}

.ico3 {
  background-image: url("../img/brands/beseda.png");
}

.ico4 {
  background-image: url("../img/brands/brooke bond.png");
}

.ico5 {
  background-image: url("../img/brands/CAMAY.png");
}

.ico6 {
  background-image: url("../img/brands/CHernyi_zhemchug.png");
}

.ico7 {
  background-image: url("../img/brands/chistaya_liniya.png");
}

.ico8 {
  background-image: url("../img/brands/cif.png");
}

.ico9 {
  background-image: url("../img/brands/clear.png");
}

.ico10 {
  background-image: url("../img/brands/domestos.png");
}

.ico11 {
  background-image: url("../img/brands/dove.png");
}

.ico12 {
  background-image: url("../img/brands/GLORIX.png");
}

.ico13 {
  background-image: url("../img/brands/happy_moments.png");
}

.ico14 {
  background-image: url("../img/brands/knorr.png");
}

.ico15 {
  background-image: url("../img/brands/lesnoi.png");
}

.ico16 {
  background-image: url("../img/brands/lipton.png");
}

.ico17 {
  background-image: url("../img/brands/rexona.png");
}

.ico18 {
  background-image: url("../img/brands/Sro_rezeptov.png");
}

.ico19 {
  background-image: url("../img/brands/timotei.png");
}

.header-page {
  padding-top: 20px;
  padding-bottom: 200px;
  position: relative;
  background-image: url("../img/fs-bg.png");
  background-size: initial;
  background-repeat: no-repeat;
  background-position: center -550px;
}

.header-page__nav-menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 2;
}

.header-page__nav-menu--link {
  color: #ffffff;
  font-family: "UnileverDINOffcPro-Bold", sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.header-page__nav-menu--link:hover {
  color: #BB10E9;
}

.header-page__content {
  width: 100%;
  margin-top: 67px;
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: flex-start;
}

.header-page__content__text {
  vertical-align: top;
  line-height: 1.8em;
}

.header-page__content__text--title {
  font-size: 60px;
}

.header-page__content__text__button {
  margin-top: 20px;
}

.header-page__content__text__button-description {
  font-family: "UnileverDINOffcPro-Bold";
  font-size: 18px;
  color: #ffffff;
}

.header-page__brand {
  width: 30%;
  display: inline-block;
  text-align: center;
}

.header-page__brand__logo--img {
  width: 100%;
  height: 100%;
}

.header-page__brand__title {
  margin-top: 20px;
}

.header-page__brand--invite {
  font-size: 24px;
}

.header-page__content__text {
  display: inline-block;
  font-weight: bold;
  font-size: 30px;
  font-family: "UnileverDINOffcPro-Bold";
  color: #fff;
  width: 50%;
}

.uiw {
  padding-top: 30px;
}

.uiw__section-name {
  width: 100%;
}

.uiw__section-name--title {
  text-align: center;
}

.uiw__section-name--description {
  text-align: center;
}

.uiw__world-coverage {
  display: flex;
  justify-content: space-around;
  margin-top: 91px;
}

.uiw__world-coverage__countries::before {
  background-image: url("../img/poly_palm.png");
}

.uiw__world-coverage__users::before {
  background-image: url("../img/poly_spoon.png");
}

.uiw__world-coverage__co-worker::before {
  background-image: url("../img/poly_bubles.png");
}

.brands {
  background-color: #fff;
  margin-top: 50px;
}

.brands__wrap {
  width: 100%;
}

.brands__gallery-ico {
  /*      height: 100%;*/
  height: 100px;
  width: 100px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

img {
  width: 100%;
  height: 100%;
}

.in-Ukraine {
  padding-top: 80px;
}

.in-Ukraine__section-name {
  width: 100%;
}

.in-Ukraine__section-name--title {
  text-align: center;
}

.in-Ukraine__section-name--description {
  text-align: center;
}

.in-Ukraine__in-country-coverage {
  display: flex;
  justify-content: space-around;
  margin-top: 91px;
}

.in-Ukraine__in-country-coverage__co-worker::before {
  background-image: url("../img/poly_heart.png");
}

.in-Ukraine__in-country-coverage__investments::before {
  background-image: url("../img/poly_t-shirt.png");
}

.in-Ukraine__in-country-coverage__duration::before {
  background-image: url("../img/poly_ring.png");
}

.mission {
  padding: 200px 0 250px 0;
  background-image: url("../img/bg-mission.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.mission__wrap {
  display: flex;
  justify-content: space-between;
}

.mission__section-description {
  position: relative;
  width: 45%;
  z-index: 2;
}

.mission__section-description::before {
  width: 100%;
  height: 100%;
  background-image: url("../img/bird.svg");
  background-size: contain;
  z-index: 1;
  background-repeat: no-repeat;
  top: -30%;
  left: -25%;
}

.mission__section--title {
  text-align: left;
  position: relative;
  z-index: 2;
}

.mission__section--sub-title {
  margin-top: 20px;
  text-align: left;
  width: 100%;
  position: relative;
  z-index: 2;
}

.mission__section--text {
  width: 100%;
  text-align: left;
}

.mission__section--image-block {
  position: relative;
}

.section__image--wrap img {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 100px;
  bottom: 80px;
  transform: skewY(-8deg) skewX(-18deg);
}

.mission__section--image {
  position: relative;
}

.target {
  padding: 20px 0 0 20px;
  position: relative;
}

.target__wrap {
  display: flex;
  justify-content: space-between;
}

.target__photo-gallery {
  width: 55%;
  background-image: url("../img/worker.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.target__section-description {
  width: 40%;
}

.target__section-description {
  padding: 40px 0;
}

.target__section-description--title {
  text-align: left;
}

.target__section-description--sub-title {
  margin-top: 30px;
  text-align: left;
}

.target__section-description--text {
  margin-top: 30px;
  width: 100%;
  text-align: left;
}

.section-advantage {
  padding-top: 250px;
}

.advantage__title {
  text-align: center;
  font-size: 60px;
  z-index: 2;
}

.advantage__wrap {
  position: relative;
}

.advantage__wrap::before {
  position: absolute;
  width: 35%;
  height: 45%;
  background-image: url("../img/polygon-bloe-white.jpg");
  background-position: left center;
  background-size: contain;
  background-repeat: no-repeat;
  top: 0;
  left: -35px;
  z-index: -1;
  transform: translateY(-70%) translateX(-50%);
}

.advantage__offers {
  display: flex;
  justify-content: space-between;
}

.advantage__education, .advantage__healthy, .advantage__bonus {
  border-radius: 15px;
  box-shadow: 0 0 70px rgba(255, 192, 0, 0.5);
  padding: 40px;
  padding-right: 15px;
}

.advantage__education--title h4 {
  text-align: left;
  font-size: 24px;
}

.advantage__education--title p {
  font-size: 18px;
  text-align: left;
  margin-top: 15px;
}

.advantage__offers > figure {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
  background-color: #ffffff;
}

.advantage__healthy--title h4 {
  text-align: left;
  font-size: 24px;
}

.advantage__healthy--title p {
  font-size: 18px;
  text-align: left;
  margin-top: 15px;
}

.advantage__bonus--title h4 {
  text-align: left;
  font-size: 24px;
}

.advantage__bonus--title p {
  font-size: 18px;
  text-align: left;
  margin-top: 15px;
}

.advantage--ico {
  margin-top: 47px;
  width: 70px;
}

.advantage_button {
  margin: 40px auto;
  display: block;
}

.advantage_button a {
  font-size: 18px;
  color: #fff;
}

.capabilities__wrapper h2 {
  text-align: center;
  font-size: 60px;
  margin-bottom: 20px;
  color: white;
}

.capabilities__list {
  display: table;
}

.capabilities__item {
  position: relative;
  width: 30.33%;
  height: 100%;
  padding: 50px 0 220px;
  vertical-align: middle;
  display: table-cell;
  color: white;
}

.capabilities__item header,
.capabilities__item footer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  font-size: 30px;
  text-align: left;
}

.capabilities__item header {
  left: 30px;
}

.capabilities__item p {
  padding: 0 30px;
}

.capabilities__item footer {
  top: auto;
  bottom: 0;
  height: 200px;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 15px 15px;
}

.capabilities__item__img-f, .capabilities__item__img-s, .capabilities__item__img-t {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.capabilities__item__img-f:hover .capabilities__footer__img,
.capabilities__item__img-s:hover .capabilities__footer__img,
.capabilities__item__img-t:hover .capabilities__footer__img {
  filter: grayscale(0%);
}

.capabilities__item__img-f {
  background-image: url("../img/0.jpg");
}

.capabilities__item__img-s {
  background-image: url("../img/mqdefault.jpg");
}

.capabilities__item__img-t {
  background-image: url("../img/ambasador.png");
}

.capabilities__footer__img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 25%;
  transform: translate(-50%, -50%);
  filter: grayscale(100%) opacity(0.8);
}

.section__capabilities {
  margin-top: -300px;
  padding-top: 380px;
  padding-bottom: 200px;
  background-image: url("../img/capabilities.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.video__wrapper {
  position: relative;
  padding-bottom: 47.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  border-radius: 20px;
}

.btn {
  font-size: 18px;
  color: #ffffff;
  display: block;
  margin: 20px auto 40px auto;
}

.et--wrapper figure {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.et__img {
  width: 55%;
}

.et__section-description {
  width: 40%;
}

.et__section-description p {
  margin-top: 30px;
  font-size: 18px;
  line-height: 1.5em;
  width: 75%;
}

.et__section-description .btn {
  margin-top: 30px;
}

.contacts {
  margin-top: 150px;
}

.contacts__wraps {
  display: flex;
}

.contacts__description {
  width: 50%;
}

.contacts__description table {
  width: 100%;
}

.contacts__description table tr {
  padding: 15px 0;
}

.contacts__description table th {
  width: 50%;
  text-align: left;
  padding: 10px 0;
  vertical-align: top;
  line-height: 1.5em;
}

.contacts__description table td {
  width: 50%;
  text-align: left;
  padding: 10px 0;
  vertical-align: top;
  line-height: 1.5em;
}

.map__wrap {
  position: relative;
  padding-bottom: 46.25%;
  padding-top: 0;
  height: 0;
  overflow: hidden;
  border-radius: 20px;
  width: 70%;
}

.map__wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.links {
  margin-top: 20px;
  display: flex;
  width: 70%;
  justify-content: space-between;
}

.links a {
  color: #4736FE;
  font-size: 18px;
}

.links a:hover {
  color: #6658FF;
}

.contacts__img {
  height: 80%;
  align-self: center;
}

.footer__wrap {
  width: 70%;
  background-image: url(../img/footer_bg.jpg);
  background-repeat: no-repeat;
  background-position: 45px top;
  background-size: cover;
  padding: 80px 0 60px 0;
  margin-top: -50px;
  margin-left: 30%;
}

.footer nav {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
}

.footer nav a {
  color: white;
  font-size: 16px;
  align-self: center;
}

.footer nav a:hover {
  color: #FEBC13;
}

.footer__icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #FEBC13;
  padding: 9px;
}

.footer__icon:hover {
  background-color: #9A1CEF;
}

.footer .facebook {
  background-image: url("../images/sprite/icoFB.png");
  background-repeat: no-repeat;
  background-size: inherit;
  background-position: center center;
}

.footer .twitter {
  background-image: url("../images/sprite/icoTwi.png");
  background-repeat: no-repeat;
  background-size: inherit;
  background-position: center center;
}

.slick-prev:hover:before, .slick-prev:focus:before, .slick-next:hover:before, .slick-next:focus:before {
  opacity: 1;
  color: #6658FF;
}

.slick-prev:hover:after, .slick-prev:focus:after, .slick-next:hover:after, .slick-next:focus:after {
  opacity: 1;
  color: #6658FF;
}

.slick-prev:before, .slick-next:before {
  font-size: 36px;
  color: orange;
  -webkit-font-smoothing: antialiased;
}

.resume-form {
  background: linear-gradient(347.58deg, rgba(252, 182, 35, 0.9) 1.03%, rgba(241, 134, 22, 0.9) 100.41%);
  border-radius: 20px;
  position: absolute;
  box-shadow: 0 0 200px black;
  padding: 50px;
  top: 50%;
  left: 50%;
  flex-direction: column;
  transform: translate(-50%, -50%);
  font-size: 18px;
  color: white;
  width: 30%;
  display: flex;
}

.resume-form form {
  display: flex;
  flex-direction: column;
}

.resume-form form h4 {
  text-align: center;
}

.resume-form form h4:hover {
  color: #9A1CEF;
}

.resume-form input {
  margin: 2em 0;
  font-size: 18px;
  color: #ffffff;
  border-bottom: 2px solid white;
}

.send_form {
  margin-top: 40px;
}

.input_file {
  display: none;
}

input[type="search"] {
  color: #fff;
}

.close-form {
  padding: 5px 10px;
  position: absolute;
  top: -50px;
  right: -50px;
  background-color: #4736FE;
  border-radius: 5px;
  color: white;
  font-size: 18px;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.form-wrap {
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 100;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: white;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: white;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: white;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: white;
}

.video {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  /*  z-index: -1000;*/
}

.video__wrap {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

#player {
  position: absolute;
  top: 45%;
  left: 50%;
  width: 80%;
  height: 80%;
  transform: translate(-50%, -50%);
}

.second-video {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
}

.second-video__wrap {
  position: relative;
  padding-bottom: 50.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

#player2 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  height: 80%;
  transform: translate(-50%, -50%);

